{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="form-wrapper">
  <div class="form-container">
    <h2 class="form-title text-center">Register</h2>

    <form method="post" action="{% url 'register-form' %}">
        {% csrf_token %}

        <label>First Name:</label>
        <input type="text" name="first_name" required>

        <label>Last Name:</label>
        <input type="text" name="last_name" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Password:</label>
        <input 
            type="password" 
            name="password" 
            minlength="8" 
            required
            oninvalid="this.setCustomValidity('Password must be at least 8 characters long.')"
            oninput="this.setCustomValidity('')"
        >

        <button type="submit" class="btn-register">Register</button>
    </form>

    <p class="form-footer">Already a member?</p>
    <p class="text-center"><a href="{% url 'login-form' %}">Login here</a></p>
  </div>
</div>
{% endblock %}
